@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;//This means that the total width and height of an element will include the padding and border, instead of just the content.
    // This can be useful for making sure that your elements are the correct size, even when they have padding or borders.
    
}
body{
    background-color: #2A2F4F;
    color: #fff;
    flex-direction: column;
	font-family: 'Press Start 2P';
	height: 100vh;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

a {
	color: #fff;
}

h1 {
	line-height: 1.4;
}

.screen {
	display: flex;
	align-items: center; /* This property takes a value of `center`, which will center the element vertically. */
	justify-content: center;
	flex-direction: column;
	transition: margin 0.75s linear;
	height: 100vh;
	width: 100vw;
}

.screen.up {
	margin-top: -100vh;
}

.btn {
	border: 0;
	background-color: #fff;
	color: #516dff;
	cursor: pointer;
	font-family: 'Press Start 2P';
	padding: 15px 20px;
}
.btn:hover {
	opacity: 0.9;
}

.btn:active {
	opacity: 0.7;
}


.cats_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}

.cats_list li {
	margin: 10px;
}

.choose_cat {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	font-family: 'Press Start 2P';
	width: 150px;
	height: 150px;
}

.choose_cat:hover {
	background-color: #fff;
	color: #516dff;
}

.choose_cat:active {
	background-color: rgba(255, 255, 255, 0.7);
}
.choose_cat{
	border-radius: 8%;
}

.choose_cat{
	box-shadow: inset -3px -4px 10px rgb(0,
}

body{
	
}