@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}
//This means that the total width and height of an element will include the padding and border, instead of just the content.
// This can be useful for making sure that your elements are the correct size, even when they have padding or borders.

body{
    display: flex;//The `display: flex` property is used to create a flex container. A flex container is a block-level element that can be used to arrange its child elements in a flexible way.
    flex-direction: column ; //`flex-direction: column` is a CSS property that specifies the direction of the flex items in a flex container. By default, flex items are arranged in a row.
}
